<header class="header_in clearfix">
    <div class="container">
        <div id="logo">
            <a routerLink="home">
                <img src="img/logo.png" width="162" height="35" alt="">
            </a>
        </div>

        <!--<a href="#0" class="open_close">
            <i class="icon_menu"></i><span>Menu</span>
        </a>-->
        <nav class="main-menu">
            <div id="header_menu">
                <a href="#0" class="open_close">
                    <i class="icon_close"></i><span>Menu</span>
                </a>
                <a routerLink="home">
                    <img src="img/logo.png" width="162" height="35" alt="">
                </a>
            </div>
        </nav>
    </div>
</header>