<div id="mySidenav" class="sidenav">
  <a href="index.html"><img src="img/logo-white.png" width="162" height="35" alt="" /></a>
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

  <a onclick="closeNav()" [routerLink]="'.'" [fragment]="'section-def-' + count"
    *ngFor="let menuCategoryInfo of menuCategories; let count = index">
    {{ menuCategoryInfo.categoryName }} ({{ menuCategoryInfo.noOfDishes }})
  </a>
</div>

<app-header></app-header>

<main>
  <app-navigation></app-navigation>
  <app-hero-main></app-hero-main>

  <div id="main-container" #scrollContainer>
    <router-outlet (activate)="onActivate($event, scrollContainer)"></router-outlet>
  </div>

  <!-- /bg_gray -->
  <!-- /container -->
</main>
<!-- /main -->

<app-footer></app-footer>

<div id="toTop" (click)="toTop()" class="detail_page"></div>
<!-- Back to top button -->

<div id="message">Item added to cart</div>
<!-- Add to cart message -->

<style>
  html,
  body {
    max-width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1000000;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .sidenav a:hover {
    color: #f1f1f1;
  }

  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 30px;
    margin-left: 50px;
  }

  #main {
    transition: margin-left 0.5s;
    padding: 0px;
  }

  .table.cart-list td .dropdown-options {
    text-align: center;
  }

  @media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }

    .sidenav a {
      font-size: 12px;
    }
  }

  .secondary_nav {
    padding: 16px 0;
  }

  .modal-header {
    display: -ms-flexbox;
    display: block;
  }
</style>
