<main class="bg_gray">
  <div class="container margin_60_40">
    <div class="row justify-content-center">
      <div class="col-lg-4">
        <div class="box_order_form">
          <div class="head text-center">
            <h3>Corporate Meal Subscription</h3>
          </div>
          <!-- /head -->
          <div class="main">
            <div id="confirm" style="padding: 30px 15px">
              <div class="icon icon--order-success svg add_bottom_15">
                <svg xmlns="http://www.w3.org/2000/svg" width="72" height="72">
                  <g fill="none" stroke="#8EC343" stroke-width="2">
                    <circle cx="36" cy="36" r="35" style="
                        stroke-dasharray: 240px, 240px;
                        stroke-dashoffset: 480px;
                      "></circle>
                    <path d="M17.417,37.778l9.93,9.909l25.444-25.393" style="
                        stroke-dasharray: 50px, 50px;
                        stroke-dashoffset: 0px;
                      "></path>
                  </g>
                </svg>
              </div>
              <h3>Subscription Request Received!</h3>
              <p style="text-align: left">
                Your subscription request has been submitted successfully. Our
                customer relationship manager would be in touch with you and
                confirming your order within 2-3 hours.

                <br />

                Thank you for your subscription request.

                <br />
                <br />
                Team Foodyhive
              </p>
            </div>
          </div>
          <a (click)="gohome($event)" class="btn_1 gradient full-width" style="font-size: 12px">Home</a>
        </div>
        <!-- /box_booking -->
      </div>
      <!-- /col -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</main>
<!-- /main -->
