<div class="hero_in detail_page background-image" [ngStyle]="{'background': 'url(img/hero-general-5.jpg)'}">
    <div class="wrapper opacity-mask" data-opacity-mask="rgba(0, 0, 0, 0.5)">
        <div class="container">
            <div class="main_info">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12">
                        <h1>CORPORATE MEAL SUBSCRIPTIONS PROGRAM</h1>
                        Home made happiness at your desk
                    </div>
                    <div class="col-xl-8 col-lg-7 col-md-6">
                        <div class="buttons clearfix">
                        </div>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /main_info -->
        </div>
    </div>
</div>
<!--/hero_in-->